<h1>Team Randomizer</h1>

<div class="form-container">
    <form class="" action="/" method="post">
        <div>
            <label for="">Names</label>
            <textarea name="names" rows="8" cols="40" placeholder="list of names (comma seperated)"></textarea>
        </div>
        <div>
            <label for="">Method</label>
            <input type="radio" name="method" value="team_count" checked><span class="input-label">Team Count</span>
            <input type="radio" name="method" value="num_per_team"><span class="input-label">Number per Team</span>
        </div>
        <div>
            <label for="">Number</label>
            <input type="text" name="number" value=1>
        </div>
        <input type="submit" name="button" value="Submit">

    </form>
</div>

<div class="team-container">

    <% if session[:team_hash] %>
        <% session[:team_hash].each do |team, members| %>
            <div class="team-grid">
                <div class="team-grid-title">
                    <h3><%= team.to_s %></h3>
                </div>
                <ul>
                    <% members.each do |name| %>
                        <li><%= name %></li>
                    <% end %>
                </ul>
            </div>
        <% end %>
    <% end %>


</div>


